{% extends 'DashCoreBundle::coreLayout.html.twig'%}

{% block body %}
    <div class="col-xs-12 tampon"></div>
    <div class="col-xs-12 white">
        {{ form(form) }}
    </div>
    <a href="{{ path('dash_portefeuille_supp', {'id': id}) }}"><div class="col-xs-12 titre btn btn-danger">Supprimer</div></a>
    
{% endblock %}

{% block menu %}
        <div class="col-xs-6 center">
            <a href="{{ path('dash_core_homepage') }}">
                <img class="logo" src=" {{ asset('bundles/dashcore/image/home.png')}} ">
            </a>
         </div>
        <div class="col-xs-6 center">
            <a href="{{ path('dash_portefeuille_listeGeneral') }}">
                <img class="logo" src=" {{ asset('bundles/dashcore/image/Cneutre.png')}} ">
            </a>
        </div>
{% endblock %}